.app {
    font-family: "Times New Roman", sans-serif, Arial;
    color: white;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    font-size: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}
