.main {
    width: 100%;
    background-color: #F5F6F7;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

.main__forecast {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    list-style-type: none;
    max-width: 608px;
    width: 100%;
    gap:5px;
    padding: 0;
}
.main__forecast-button {
    font-family: var(--font-text);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    align-self: center;
    height: 64px;
    width: 288px;
    border-radius: 80px;
    background: #FFFFFF;
    margin: 64px 0 0;
    border-color: transparent;
    cursor: pointer;
    color: black;
}

.main__forecast-button:hover {
    background-color:#e8e8e9;
}
.main__weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 66.6%;
}
.main__not-found {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 356px;
    padding: 0;
}

.main__not-found-icon {
    width: 95px;
    height: 95px;
    background-image: url('../../images/not-found_v1.svg');
    background-repeat: no-repeat;
    margin: 0 auto;
}

.main__not-found-heading {
    font-family: var(--font-title);
    font-size: 26px;
    line-height: 1;
    font-weight: bold;
    margin: 24px auto 16px;
    color: rgba(182, 188, 191, 1);
}

.main__not-found-text {
    font-family: var(--font-text);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(182, 188, 191, 1);
    margin: 0;
}

@media screen and (max-width: 534px) {
    .main__forecast {
    }
}
